<div class="business_letter" ng-controller="transcriberCtrl">
    <div class="row">
        <div class="col-md-6">
            <form>
                <div class="form-group">
                    <label for="spanish_text">Spanish text</label>
                    <textarea id="spanish_text" class="form-control" rows="10" ng-model="params.spanish_text"></textarea>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <span class="control-label">Interñol text</span>
            <div contenteditable="true" ng-model="internol_html"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <h3>{{params.rules.length}} Rules</h3>
        </div>
        <div class="col-md-9">
            <form class="pull-right">
                <div class="input-group">
                    <span class="input-group-addon" id="inp_filter_games_addon"><i class="glyphicon glyphicon-search"></i></span>
                    <input type="text" class="form-control"
                           ng-model="params.rules_filter" placeholder="your filter expression here">
                </div>
            </form>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th ng-repeat="column_header in ['Active', 'ID', 'Description', '#']">
                {{column_header}}
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="rule in filter_rules(params.rules, params.rules_filter) track by $index">
            <td>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="rule.active">
                    </label>
                </div>
            </td>
            <td>{{rule.id}}</td>
            <td>{{rule.description}}</td>
            <td title="{{applied_rules[rule.id].join(',')}}">{{applied_rules[rule.id].length}}</td>
        </tr>
        </tbody>
    </table>

</div>



